# SVM

## Read dataset

In [1]:
import pandas as pd
dataset = pd.read_csv('/home/vutaliy/Downloads/geyser.csv')
dataset.describe()

                x           y
count  222.000000  222.000000
mean    12.297297    3.576126
std      7.862615    1.083950
min      1.000000    1.700000
25%      5.000000    2.300000
50%     16.000000    4.000000
75%     20.000000    4.400000
max     23.000000    5.200000